<!DOCTYPE html>
<html>
  <head>
    <title>CandJ</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/3fdfb4a373.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <h1 class="headline">
          <a href="/">
            <span class="fas fa-globe-asia fa-1x"></span>
            C
            <span class="and">&</span>
             J</a>
        </h1>

        <ul class="nav-list">
          <% if user_signed_in? %>
          <li class="nav-list-item"><%= link_to "Home", blogs_path%></li>
          <li class="nav-list-item"><%= link_to "Post", new_blog_path%></li>
          <li class="nav-list-item"><%= link_to "My Page", blog_path(current_user.id)%></li>
          <li class="nav-list-item"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li class="nav-list-item"><%= link_to "Home", root_path%></li>
          <li class="nav-list-item"><%= link_to "About", about_path%></li>
          <li class="nav-list-item"><%= link_to "SignUp", new_user_registration_path%></li>
          <li class="nav-list-item"><%= link_to "Login", new_user_session_path%></li>
          <% end %>
        </ul>
      </nav>
    </header>


    <%= yield %>

    <footer>
      <p class="footer-text"><span class="space">----</span>C&J
      <span class="space">----</span></p>
    </footer>
  </body>
</html>
